/* styles.css */
/* ======= Base ======= */
$maincolor: #863958;
// $maincolor: #2E3F4C;
// $maincolor: #333;
body {
    padding: 0;
    color: #545E6C;
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}
a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    color: $maincolor !important;
    &:hover {
        text-decoration: underline;
        color: #424242;
    }
    &:focus {
        text-decoration: none;
    }
}
p {
    line-height: 1.5;
}
.wrapper {
    position: relative;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    background: #42A8C0;
    // -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    // -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    @include mobile {
        display: block;
    }
}
.fixed-container {
    min-height: 100vh;
    width: 25.5%;
    background: $maincolor;
    @include mobile {
        width: 100%;
    }
    .sidebar-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 25.5%;
        // height: 100%;
        min-height: 800px;
        color: #fff;
        display: flex;



        @include medium {
            width: 100%;
            position: static;
            display: block;
        }

        @include mobile {
            width: 100%;
            position: static;
            display: block;
        }


        a {
            color: #fff !important;
            &:hover {
              color: #d2d2d2 !important;
            }
        }
        .profile-container {
            padding: 30px;
            text-align: center;
            color: #fff;
            background: rgba(0, 0, 0, 0.2);

            .profile {
                margin-bottom: 15px;
                border-radius: 50%;
                transition: all .2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
                &:hover {
                  transform: scale(0.9);
                }
            }
          }
        .name {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 32px;
            font-weight: 900;
        }
        .tagline {
            margin-top: 0;
            margin-bottom: 0;
            color: rgba(255, 255, 255, 0.6);
            font-size: 16px;
            font-weight: 400;
        }

        .contact-list {
            .fa {
                margin-right: 5px;
                vertical-align: middle;
                font-size: 18px;
            }
            li {
                margin-bottom: 15px;
                display: flex;
                font-size: 12px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .email .fa {
                font-size: 14px;
            }
        }
        .container-block {
            padding: 30px;
        }
        .container-block-title {
            margin-top: 0;
            margin-bottom: 15px;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 700;
        }
        .degree {
            margin-top: 0;
            margin-bottom: 5px;
            font-size: 14px;
        }
        .education-container {
            .item {
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .meta {
                margin-top: 0;
                margin-bottom: 0;
                color: rgba(255, 255, 255, 0.6);
                font-weight: 500;
            }
            .time {
                margin-bottom: 0;
                color: rgba(255, 255, 255, 0.6);
                font-weight: 500;
            }
        }
        .languages-container .lang-desc {
            color: rgba(255, 255, 255, 0.6);
        }
        .interests-list,
        .languages-list {
            margin-bottom: 0;
            li {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.main-wrapper {
    width: 70%;
    padding: 40px;
    // padding-left: 300px;
    flex: 3;
    background: #fff;
    article h1 {
        margin-bottom: 15px;
    }
    .entry {
        .videoiframe {
            position: relative;
            height: 0;
            padding-top: 25px;
            padding-bottom: 56.25%;
            /* 16:9 */
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    .post img {
      max-width: 100%;
      width: 100%;
    }
    .section-title {
        position: relative;
        margin-top: 0;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: $maincolor;
        font-size: 20px;
        font-weight: 500;
        .fa {
            position: relative;
            top: -2px;
            display: inline-block;
            width: 30px;
            height: 30px;
            margin-right: 8px;
            padding-top: 8px;
            text-align: center;
            color: #fff;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background: $maincolor;
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
            font-size: 16px;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }
    .section {
        margin-bottom: 60px;
    }
    .experiences-section .item {
        margin-bottom: 30px;
    }
    .upper-row {
        position: relative;
        overflow: hidden;
        margin-bottom: 2px;
    }
    .job-title {
        margin-top: 0;
        margin-bottom: 0;
        color: #3F4650;
        font-size: 16px;
        font-weight: 500;
    }
    .time {
        position: absolute;
        top: 0;
        right: 0;
        color: #97AAC3;
    }
    .company {
        margin-bottom: 10px;
        color: #97AAC3;
    }
    .project-title {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 400;
    }
    .projects-section {
        .intro {
            margin-bottom: 30px;
        }
        .item {
            margin-bottom: 15px;
        }
    }
}
.side-blog {
    width: 30%;
    padding: 40px;
    background: #fff;
    flex: 1;
    @include mobile {
        width: 100%;
    }
    img {
        float: left;
        max-width: 30%;
        // max-height: 40%;
        // padding: 20px 15px 8px 0;
    }
    .entry {
        float: left;
        margin-bottom: 15px;
    }
    .section-title {
        position: relative;
        margin-top: 0;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: $maincolor;
        font-size: 20px;
        font-weight: 500;
        .fa {
            position: relative;
            top: -2px;
            display: inline-block;
            width: 30px;
            height: 30px;
            margin-right: 8px;
            padding-top: 8px;
            text-align: center;
            color: #fff;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background: $maincolor;
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
            font-size: 16px;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }
    h1 {
        font-size: 20px;
    }
    article {
        margin-bottom: 15px;
        padding: 15px 15px 30px;
        border-bottom: 1px dashed #DADADA;
    }
}
.skillset {
    .item {
        overflow: hidden;
        margin-bottom: 15px;
    }
    .level-title {
        margin-top: 0;
        margin-bottom: 12px;
        font-size: 14px;
    }
    .level-bar {
        height: 12px;
        background: #f5f5f5;
    }
    .level-bar-inner {
        height: 12px;
        background: $maincolor;
    }
}
.footer {
    padding: 60px 30px 30px;
    .copyright {
        color: #545E6C;
        font-size: 13px;
        line-height: 1.6;
    }
    .fa-heart {
        color: #fb866a;
    }
}
.grid {}
/* Common style */
.grid {
    figure {
        position: relative;
        float: left;
        overflow: hidden;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        max-height: 190px;
        margin: 10px 1%;
        cursor: pointer;
        text-align: center;
        background: #fff;
        img {
            position: relative;
            display: block;
            max-width: 100%;
            min-height: 100%;
            opacity: 0.8;
        }
        figcaption {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 1em;
            text-transform: uppercase;
            color: #fff;
            font-size: 1.25em;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            &::after,
            &::before {
                pointer-events: none;
            }
            > a {
                position: absolute;
                z-index: 1000;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                white-space: nowrap;
                text-indent: 200%;
                opacity: 0;
                font-size: 0;
            }
        }
        h2 {
            margin: 0;
            word-spacing: 0.1em;
            font-weight: 300;
            span {
                font-weight: 800;
            }
        }
        p {
            margin: 0;
            letter-spacing: 1px;
            font-size: 50%;
        }
    }
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
/*---------------*/
/***** Milo *****/
/*---------------*/
figure.effect-milo {
    background: #2e5d5a;
    img {
        width: -webkit-calc(100% + 60px);
        width: calc(100% + 60px);
        max-width: none;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
        transform: translate3d(-30px, 0, 0) scale(1.12);
        opacity: 1;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    &:hover img {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 0.5;
    }
    h2 {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 1em 1.2em;
    }
    p {
        overflow: hidden;
        width: 50%;
        max-height: 10em;
        padding: 0 10px 0 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-40px, 0, 0);
        transform: translate3d(-40px, 0, 0);
        text-align: right;
        text-overflow: ellipsis;
        word-wrap: break-word;
        opacity: 0;
        border-right: 1px solid #fff;
        line-height: 1.5em;
    }
    &:hover p {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
        // @include mobile {
        //   display: none;
        // }
    }
}
/*---------------*/
/***** Romeo *****/
/*---------------*/
figure.effect-romeo {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    img {
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(0, 0, 300px);
        transform: translate3d(0, 0, 300px);
    }
    &:hover img {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 0.6;
    }
    figcaption {
        &::after,
        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            height: 1px;
            content: '';
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
            background: #fff;
        }
    }
    &:hover figcaption {
        &::before {
            -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
            transform: translate3d(-50%, -50%, 0) rotate(45deg);
            opacity: 0.5;
        }
        &::after {
            -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
            transform: translate3d(-50%, -50%, 0) rotate(-45deg);
            opacity: 0.5;
        }
    }
    h2,
    p {
        position: absolute;
        top: 58%;
        left: 0;
        width: 100%;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
    }
    h2 {
        -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -150%, 0);
        transform: translate3d(0, -50%, 0) translate3d(0, -150%, 0);
    }
    p {
        padding: 0.25em 2em;
        -webkit-transform: translate3d(0, -50%, 0) translate3d(0, 150%, 0);
        transform: translate3d(0, -50%, 0) translate3d(0, 150%, 0);
    }
    &:hover {
        h2 {
            -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -100%, 0);
            transform: translate3d(0, -50%, 0) translate3d(0, -100%, 0);
        }
        p {
            -webkit-transform: translate3d(0, -50%, 0) translate3d(0, 100%, 0);
            transform: translate3d(0, -50%, 0) translate3d(0, 100%, 0);
        }
    }
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .sidebar-wrapper {
        position: static;
        width: 100%;
    }
    .main-wrapper {
        width: 100%;
        padding: 30px;
        .time {
            position: static;
            display: block;
            margin-top: 5px;
        }
        .upper-row {
            margin-bottom: 0;
        }
    }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .skillset {
        .level-title {
            display: inline-block;
            float: left;
            width: 30%;
            margin-bottom: 0;
        }
        .level-bar {
            position: relative;
            top: 1px;
            display: inline-block;
            float: left;
            width: 70%;
        }
    }
}
/* Large devices (large desktops, 1200px and up) */
/* Ex-Large devices (large desktops, 1200px and up) */
