<div class="main-wrapper">

    <section class="section summary-section">
        <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
        <div class="summary">
            <p>Summarise your career here lorem ipsum dolor sit amet, consectetuer adipiscing elit. You can <a href="http://themes.3rdwavemedia.com/website-templates/orbit-free-resume-cv-template-for-developers/" target="_blank">download this free resume/CV template here</a>.
                Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.</p>
        </div>
        <!--//summary-->
    </section>
    <!--//section-->

    <section class="section experiences-section">
        <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">UI/UX Specialist</h3>
                    <div class="time">2013 - Present</div>
                </div>
                <!--//upper-row-->
                <div class="company">Site Online, Site Skills Training, Clarkfield Pampanga</div>
            </div>
            <!--//meta-->
            <div class="details">
                <p>Conceptualize and creates Micro sites, EDMS. Maintains and update the Company Website, fixing browser issues to have better browsing experience. Creates mock-up design and converting it into mark-up.</p>
            </div>
            <!--//details-->
        </div>
        <!--//item-->

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Front End Developer</h3>
                    <div class="time">2012 - 2013</div>
                </div>
                <!--//upper-row-->
                <div class="company">Deal Guru Pte Ltd, Singapore</div>
            </div>
            <!--//meta-->
            <div class="details">
                <p>Conceptualize and creates Micro sites, EDMS, Facebook Page and App and Newsletters. Maintains and update the Company Website, fixing browser issues to have better browsing experience. Creates mock-up design and converting it into mark-up.</p>

            </div>
            <!--//details-->
        </div>
        <!--//item-->

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Web Consultant and Graphic Designer</h3>
                    <div class="time">2009 - 2010</div>
                </div>
                <!--//upper-row-->
                <div class="company">Amazon, Greece</div>
            </div>
            <!--//meta-->
            <div class="details">
                <p>
                  <ul>
                    <li>Creates and maintains websites for 3M Philippines.</li>
                    <li>Ensures that every site built is according to 3M Guidelines.</li>
                    <li>Creates Marketing Collaterals such as brochures, posters, billboards etc. for 3M Philippines.</li>
                  </ul>
                </p>
            </div>
            <!--//details-->
        </div>
        <!--//item-->

    </section>
    <!--//section-->

    <section class="section projects-section">
        <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
        <div class="intro">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
        </div>
        <!--//intro-->
        <div class="item">
            <span class="project-title"><a href="#hook">HTML5</a></span> - <span class="project-tagline">is a markup language used for structuring and presenting content on the World Wide Web. It is the fifth and current version of the HTML standard.</span>

        </div>
        <!--//item-->
        <div class="item">
            <span class="project-title"><a href="#" target="_blank">CSS3</a></span> -
            <span class="project-tagline">CSS3 is a latest standard of css earlier versions(CSS2). </span>
        </div>
        <!--//item-->
        <div class="item">
            <span class="project-title"><a href="https://jquery.com/" target="_blank">jQuery</a></span> - <span class="project-tagline">is a cross-platform JavaScript library designed to simplify the client-side scripting of HTML.[3] It is free, open-source software using the permissive MIT license.[2] Web analysis indicates that it is the most widely deployed JavaScript library by a large margin.[</span>
        </div>
        <!--//item-->
        <div class="item">
            <span class="project-title"><a href="https://github.com/" target="_blank">Git</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
        </div>
        <!--//item-->
        <div class="item">
            <span class="project-title"><a href="https://getbootstrap.com/" target="_blank">Boostrap</a></span> - <span class="project-tagline">is a free and open-source front-end web framework for designing websites and web applications. It contains HTML- and CSS-based design templates for typography, forms, buttons, navigation and other interface components, as well as optional JavaScript extensions. Unlike many web frameworks, it concerns itself with front-end development only.</span>
        </div>
        <!--//item-->
    </section>
    <!--//section-->

    <section class="skills-section section">
        <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
        <div class="skillset">
            <div class="item">
                <h3 class="level-title">HTML5</h3>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="98%">
                    </div>
                </div>
                <!--//level-bar-->
            </div>
            <!--//item-->

            <div class="item">
                <h3 class="level-title">Javascript &amp; jQuery</h3>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="98%">
                    </div>
                </div>
                <!--//level-bar-->
            </div>
            <!--//item-->

            <div class="item">
                <h3 class="level-title">CSS3</h3>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="98%">
                    </div>
                </div>
                <!--//level-bar-->
            </div>
            <!--//item-->

            <div class="item">
                <h3 class="level-title">GitHub</h3>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="90%">
                    </div>
                </div>
                <!--//level-bar-->
            </div>
            <!--//item-->

            <div class="item">
                <h3 class="level-title">Vue.js</h3>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="55%">
                    </div>
                </div>
                <!--//level-bar-->
            </div>
            <!--//item-->


            <div class="item">
                <h3 class="level-title">Adobe CC for Web Development</h3>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="98%">
                    </div>
                </div>
                <!--//level-bar-->
            </div>

            <div class="item">
                <h3 class="level-title">Bootstrap</h3>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="90%">
                    </div>
                </div>
                <!--//level-bar-->
            </div>
            <!--//item-->

        </div>
    </section>
    <!--//skills-section-->

    <!-- <div class="wrapper-footer">
        <div class="container">
            <footer class="footer">
                {% include svg-icons.html %}
            </footer>
        </div>
    </div> -->

</div>
<!--//main-body-->

<!-- Side blog  -->
<div class="side-blog">
  {% include side-blog-page.html %}
</div>
