<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/png" href="{{ "images/favicon.png" | prepend: site.baseurl }}" >

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/plugins/bootstrap/css/bootstrap.min.css" />

    <!-- Font  -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/plugins/font-awesome/css/font-awesome.css" />


    <!-- Custom  -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

        <div class="wrapper">

        {% include sidebar-wrapper.html %}

        {{ content }}

        </div>

        <!-- Javascript -->
        <!-- Analytics -->
        {% include analytics.html %}

      <script type="text/javascript" src="{{ site.baseurl }}/plugins/jquery-1.11.3.min.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/plugins/bootstrap/js/bootstrap.min.js"></script>
      <!-- custom js -->
      <script type="text/javascript" src="{{ site.baseurl }}/main.js"></script>

  </body>
</html>
