---
layout: default
image:
---

<div class="main-wrapper">
    <section class="section summary-section">
        <article class="post">
            <h1 style="font-size:30px;">{{ page.title }}</h1>
            <br>
            <div class="entry">
                <img src="{{ page.image }}" />
                {{ content }}
            </div>

            <div class="date">
                Written on {{ page.date | date: "%B %e, %Y" }}
            </div>

            {% include disqus.html %}
        </article>

    </section>
</div>

<!-- Side blog  -->
<div class="side-blog">
  {% include side-blog-post.html %}
</div>
