---
layout: default
image:
---

<div class="main-wrapper">
    <section class="section summary-section">
        <article class="post">
            <h1 style="font-size:30px;">{{ page.title }}</h1>
            <br>
            <div class="entry">
                <img src="{{ page.image }}" />
                {{ content }}
            </div>

            <div class="date">
                Written on {{ page.date | date: "%B %e, %Y" }}
            </div>

            {% include disqus.html %}
        </article>

    </section>
</div>

<!-- Side blog  -->
<div class="side-blog">
    <h2 class="section-title"><i class="fa fa-book"></i>Journal</h2>
    <!-- <div class="posts">
        {% for post in site.posts %}
        <article class="post">

            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

            <div class="entry">
                <img src="{{ post.image }}" />
                {{ post.excerpt }}
            </div>

            <i><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a></i>
        </article>
        {% endfor %}
    </div> -->
    <!-- This loops through the paginated posts -->
    <!-- <div class="grid">
      {% for post in site.posts %}
      <a href="{{ site.baseurl }}{{ post.url }}">
        <figure class="effect-milo">
            <img src="{{ post.image }}" />
            <figcaption>
                <h2>{{ post.title }}</h2>
                <p>{{ post.excerpt }}</p>
            </figcaption>
        </figure>
      </a>
      {% endfor %}
    </div> -->


    <div class="grid">

      {% if page.next.url %}
        <a class="next" href="{{page.next.url}}">
            <figure class="effect-milo">
                <img src="{{ page.next.image }}" />
                <figcaption>
                    <h2>{{ page.next.title }}</h2>
                    <p>{{ page.next.excerpt }}</p>
                </figcaption>
            </figure>
        </a>
      {% endif %}

      {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}">
          <figure class="effect-milo">
              <img src="{{ page.previous.image }}" />
              <figcaption>
                  <h2>{{ page.previous.title }}</h2>
                  <p>{{ page.previous.excerpt }}</p>
              </figcaption>
          </figure>
        </a>

      {% endif %}

   </div>



    <!-- {% for post in site.posts limit: 1 %}
        {% if post.url == "link" %}
        <article>
            <hgroup>
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            </hgroup>
                {{ post.excerpt }}
        </article>
        {% else if %}

        <article>
            <hgroup>
                <h2>test</h2>
            </hgroup>

        </article>

        {% endif %}
    {% endfor %} -->


</div>
